:host {
  display: flex;
  width: 100%;
  background-color: #323232;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

.link {
  padding: 8px;
  color: white;
  text-decoration: none;
  transition: 0.3s all;

  &_red {
    background-color: #c4302b;
  }

  &_black {
    background-color: black;
  }

  &_purple {
    background-color: #c13584;
  }

  &_blue {
    background-color: #3b5998;
  }

  .link-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  width: 24px;
  height: 24px;
  color: white;
  fill: currentColor;
}
