@function getImageHeight($width) {
  $imgWidth: 936;
  $imgHeight: 844;
  $ratio: $imgWidth / $imgHeight;
  @return calc(#{$width} / #{$ratio});
}

.header {
  position: relative;

  width: 100%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: firebrick;
}

.title {
  font-size: 10vh;
  font-weight: 100;
  font-family: 'Montserrat';
  line-height: 1;
  align-items: center;
  justify-content: center;

  .logo {
    color: black;
    align-items: center;
    justify-content: center;
  }
}

.subtitle {
  font-size: 7vh;
  font-weight: 500;
  font-family: 'Montserrat';
  align-items: center;
  justify-content: center;
}

.promo-button {
  bottom: -10vh;
}

.images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw / 3);
    height: getImageHeight(calc(100vw / 3));
  }
}

button {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0.5rem 1.75rem;
}
