:host {
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  height: 50vh;
  background: white;
}

.title {
  font-size: 10vh;
  font-weight: 100;
  font-family: 'Montserrat';
  line-height: 0.8;
  color: black;
}

.title-wrapper,
.button-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-text {
  padding: 0 16px;
}

button {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0.5rem 1.75rem;
}
