:host {
  padding: 10rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background: #1f1f1f;

  @media only screen and (max-width: 1279px) {
    padding: 2rem;
  }
}
.difference {
  margin-bottom: 0.5rem;
  width: calc(100% / 3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  position: relative;
  padding: 1.5rem 1rem;
}
.difference-list {
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  @media only screen and (max-width: 719px) {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;

    .difference {
      margin-bottom: 3.5rem;
      width: 100%;
    }
  }

  @media only screen and (min-width: 720px) and (max-width: 1439px) {
    justify-content: flex-start;
    flex-direction: column;

    .difference {
      margin-bottom: 3.5rem;
      width: calc(100% / 2);
    }
  }
}

.title {
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Montserrat';
  line-height: 0.8;
  color: red;
  padding: 2rem;

  @media only screen and (max-width: 1279px) {
    font-size: 10vh;
  }
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.index {
  position: absolute;
  color: red;
  margin: 0 0 0 0.5rem;
  font-size: 8rem;
  opacity: 0.3;
  top: 0.5rem;
  left: 50%;
  user-select: none;
  pointer-events: none;
  font-weight: 600;
  transform: translateX(-50%);
  z-index: 1;
}

.text {
  font-size: 1.125rem;
  z-index: 2;
}
