/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 100;
  src: url('./assets/fonts/Montserrat-Thin.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 500;
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}
* {
  box-sizing: border-box;
  transition: color, transform, top, background-color, font-size, margin, padding 0.3s;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden auto;
}

@media only screen and (max-width: 639px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 560px) and (max-width: 639px) {
  html {
    font-size: calc(100vw / 40);
  }
}

@media only screen and (min-width: 640px) and (max-width: 1279px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  html {
    font-size: calc(100vw / 80);
  }
}

@media only screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
}
